flows.json
[
    {
        "id": "bbd26c053de1521f",
        "type": "tab",
        "label": "Поток 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "a3021e7ee5a02bdd",
        "type": "http in",
        "z": "bbd26c053de1521f",
        "name": "",
        "url": "/sayhi",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 140,
        "y": 120,
        "wires": [
            [
                "022d9e2f3aeb9204"
            ]
        ]
    },
    {
        "id": "cf2ed96463400f0e",
        "type": "http response",
        "z": "bbd26c053de1521f",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 850,
        "y": 120,
        "wires": []
    },
    {
        "id": "a3cd6969b2f51d4e",
        "type": "debug",
        "z": "bbd26c053de1521f",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 440,
        "y": 220,
        "wires": []
    },
    {
        "id": "022d9e2f3aeb9204",
        "type": "function",
        "z": "bbd26c053de1521f",
        "name": "function 1",
        "func": "msg.payload = \"Hello there\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 120,
        "wires": [
            [
                "cf2ed96463400f0e",
                "a3cd6969b2f51d4e"
            ]
        ]
    }
]